{% extends 'layout.html' %}

{% block content %}
<h3>Reset password</h3>
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages[0] == "That username does not exist, try again." %}
    <div class="notification is-danger">
        {{messages[0]}}
    </div>
    {% endif %}
    {% endwith %}
    <form method="post" action="{{url_for('auth.reset_pass_post')}}">
        <label for="reset_pass_username">Type your username and we will send a reset link to your associated email</label>
        <input type="text" name="username" placeholder="Type your username" autofocus="" id="reset_pass_username">
        <button type="submit" id="reset-password-button">Reset password</button>
    </form>
</div>
{% endblock %}